/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body{
  font-family: 'Lato', sans-serif !important;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #010312!important;
  color: #cacaca !important;
  justify-content: center;
  padding: 0px 158px;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.container{
  /* padding: 100px 0; */
  /* width: 100%; */
}

#root {
  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem;
  text-align: center; */
}