@media only screen and (max-width: 1199px) {
    .section-style .section-Height {
        padding-top: 25px;
    }


    .section-style .section-Height .row,
    .section-style .section-Height .container {
        gap: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    /* .hero-style-1 {
        height: auto;
        min-height: auto;
    } */

    .hero .slide-caption {
        padding: 120px 0;
    }

    .hero-style-1 .slide {
        background-size: contain;
    }

}


/* for smaller screens */
@media only screen and (max-width:767px) {
    body {
        background-image: url("../Images/small-background.jpg") !important;
    }

    p {
        font-size: 14px;
    }

    .nav {
        background-color: black;
        position: relative;
    }

    .navbar-toggler {
        padding: 4px 12px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        color: rgba(255, 255, 255, 0.65);
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }


    .title-line {
        display: none;
    }

    .container {
        max-width: 540px;
        padding: 100px 21px;
    }

    .slide-caption {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-style-1 .slide-title h2 {
        font-size: 50px;
    }



    h4 {
        font-size: 0.93333rem;
    }

    .gallery-section {
        padding: 60px 0 40px;
    }

    .section-style .section-Height {
        padding-top: 80px;
    }

}


@media only screen and (max-width: 575px) {
    body {
        background-image: url("../Images/small-background.jpg") !important;
    }

    .hero-style-1 .slide,
    .hero-style-1 {
        height: 100%;
        min-height: auto;
    }

    .hero-style-1 .slide-title h2 {
        font-size: 40px;
    }

    .hero-style-1 .slide {
        background: url('../Images/background2.png') 20% center no-repeat !important;
        background-size: cover;
    }

    h2 {
        font-size: 54px;
        font-weight: 600;
    }

}

@media only screen and (max-width: 479px) {
    body {
        background-image: url("../Images/small-background.jpg") !important;
    }

    .hero-style-1 .slide,
    .hero-style-1 {
        height: auto;
        min-height: auto;
    }

    .hero-style-1 .slide-title h2 {
        font-size: 32px;
    }

    .hero-style-1 .slide {
        background: url('../Images/background2.png') 20% center no-repeat !important;
        background-size: cover;
    }

    .section-Height {
        padding-top: 10px;
    }

    .hero-size {
        height: auto !important;
    }

}